/**
  Green: 1ED760
  Black: 2F2F2F
**/

/** Step 3: Start **/

body {
  background-color: #2F2F2F;
  color: #F1F1F1;
}

.input-group {
  display: none;
  margin-bottom: 20px;
}

.btn-default {
  background-color: #1ED760;
}

h1 {
  color: #1ED760;
  text-align: center;
}

/** Step 3: End **/

/** Step 8: Start **/

.row.album {
  border-top: 1px solid #CCC;
  cursor: pointer;
}

.row.album:hover {
  background-color: rgba(0, 0, 0, .4);
}

.row.album .play-btn {
  display: none;
  position: absolute;
  text-align: center;
  bottom: 5px;
  padding-top: 3px;
  background-color: rgba(0, 0, 0, .4);
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.row.album:hover .play-btn {
  display: block;
}

.album .details {
  padding-top: 10px;
  padding-left: 0;
}
.album .details .artist {
  font-size: 0.8em;
}

.cover {
  width: 100%;
}

/** Step 8: End **/

